@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

$NotoSerif: 'Noto Serif', serif;
$Tahoma: 'Tahoma', sans-serif;
$orange: #f99d1c;
$yellow: #eaf09b;
$black: #161616;
$grey: #3d3c3c;
$lightgray: rgb(207, 207, 207);
$white: white;
